{% extends 'base.html' %}
{% load static %}
{% block content %}

  <body>
  <div class="container">
  {% include 'includes/navbar.html' %}
  {% if user.is_authenticated %}
        <div class="col-md-8 mx-auto  my-5 form-group">
         <h2 class="text-center mb-3">Add Category</h2>
            <form method="POST">
                {% csrf_token %} 
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary  btn-block active">CREATE</button>
            </form>
          
        </div>
  {% else %}
    <div class="jumbotron my-2">
        <h4 class="text-danger">Sorry You are not allowed to create a category.Press Login Link for continue...</h3>
        <a href={% url 'login' %}>Login</a>
    </div>
  {% endif %}
    
 {% endblock %}
