{% extends 'base.html' %}
{% load static%}
{% block content %}

  <body>
    <div class="container" style="margin-top: 65px;">
        {% include 'includes/navbar.html' %}
 
        {% for post in category_list %}
          <div class="blog-post my-2">
          {% if post.blog_image %}
            <img src="{{ post.blog_image.url }}" height="250px">
          {% endif %}
            <h2 class="blog-post-title">{{ post.title }}</h2>
            {% if user.is_authenticated %}
              {% if post.author.id == user.id %}
                <a href="{% url 'update' post.pk %}" class="btn btn-success my-2">Update</a>
                <a href="{% url 'delete' post.pk %}" class="btn btn-danger my-2">Delete</a>
              {% endif %}  
            {% endif %}
            <p class="blog-post-meta">{{ post.timestamp }} <a href="#">{{ post.author }}</a></p>
            <p>{{ post.content |safe| truncatewords:20}}</p>
            <a href="{% url 'detail'  post.pk %}" type="button" class="btn btn-primary btn-rounded">
                  Read more
            </a>
          </div><!-- /.blog-post -->

        {% endfor %}
    </div><!-- /.container -->
 {% endblock %}
