{% extends 'base.html' %}
{% load static%}
{% block content %}

  <body>
    <div class="container">
        {% include 'includes/navbar.html' %}
 
        {% for post in category_list %}
          <div class="blog-post">
            <h2 class="blog-post-title">{{ post.title }}</h2>
            {% if user.is_authenticated %}
              {% if post.author.id == user.id %}
                <a href="{% url 'update' post.pk %}" class="btn btn-info my-2">Update</a>
                <a href="{% url 'delete' post.pk %}" class="btn btn-info my-2">Delete</a>
              {% endif %}  
            {% endif %}
            <p class="blog-post-meta">{{ post.timestamp }} <a href="#">{{ post.author }}</a></p>
            <p>{{ post.content | truncatewords:20}}
          </div><!-- /.blog-post -->

        {% endfor %}
    </div><!-- /.container -->
 {% endblock %}
