{% extends 'base.html' %}
{% load static %}
{% block content %}

  {% include 'includes/navbar.html' %}

    <div class="container">
        <div class="col-md-8 mx-auto form-group">
         <h2 class="mt-5 mb-3">Delete Post {{post.title}}</h2>
            <form method="POST">
                {% csrf_token %} 
                <strong>Are you sure!You want to delete the post?</strong><br/><br />
                <button type="submit" class="btn btn-danger active">Confirm</button>
            </form>
        </div>
    
 {% endblock %}
