{% extends 'base.html' %}
{% block content %}
<div class="container">
{% include 'includes/navbar.html' %}


    <h3 class="mt-5"><a href="{% url 'detail' post.pk %}">{{ post.title}}</a></h3>
    <h5>{{post.snippet }}</h5>
    <p> {{ post.author }}</p>
    {% if post.blog_image.url %}
         <img src={{ post.blog_image.url }} class="img-fluid">
    {% endif %}
    <p> {{ post.content|safe }}<p>

     {% if user.is_authenticated %}
        {% if post.author.id == user.id %}
                <a href="{% url 'update' post.pk %}" class="btn btn-info my-2">Update</a>
                <a href="{% url 'delete' post.pk %}" class="btn btn-info my-2">Delete</a>
        {% endif %}
     {% endif %}

   <div id='like-section'>
        {% include 'blog/includes/like_section.html' %}
   </div>
</div>


{% endblock %}